body {
    background: lightskyblue;
}
#greeting {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    padding-top: 5rem;
}
#login-info {
    padding-top: 2rem;
}
input {
    padding: 1rem;
    margin: 1rem;
}
.btn-lg {
    width: 90%;
}
.btn-lg:hover {
    transform: scale(1.1);
}
#submit-btn {
    width: 98%;
}