* {
    font-family: 'Georgia';
}
#label {
    background: lightskyblue;
    padding: 1.2rem 1.6rem;
}
#sublabel {
    background-color: #F7F7F7;
}
.btn-lg {
    transition: all .5s ease-in-out;
}
.btn-lg:hover {
    transform: scale(1.025);
}