* {
    font-family: 'Georgia';
}
#label {
    background: lightskyblue!important;
    padding: 1.2rem 1.6rem;
}
#title {
    font-size: 2.5rem;
    margin-bottom: .4rem;
}
label {
    font-weight: bold;
    padding: 0.2rem;
    padding-left: 0rem;
    white-space: pre;
}
.actions {
    align-items: center;
    display: flex;
    background-color: #F7F7F7;
    border-bottom: 1px solid #dedfe0;
    padding: 0 1.6rem;  
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    font-size: 125%;
}

.recipeItem {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.typeLabel {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    /* margin: 0.3rem; */
    margin-left: 1rem;

}

#wrapper {
    padding: 0 1.6rem;
    padding-top: 0.5rem;
}

#main-label {
    font-size: 135%;
}

#recipeList {
    padding: 0.4rem;
}

.actions__container--spaced {
    justify-content: space-between
}

a {
    color: rgb(253, 120, 142);
    text-decoration: none;
    border-radius: 1rem;
}

a:hover {
    font-size: 120%;
    transition: 0.5s ease;
    color: rgb(252, 55, 88);
    border: 2px solid rgb(255, 55, 88);
}

button {
    width: 200px;
}
.btn-lg:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}