#label {
    background: lightskyblue!important;
    padding: 1.2rem 1.6rem;
}
#title {
    font-size: 2.5rem;
    margin-bottom: .4rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0rem;
}

label {
    font-weight: bold;
    padding: 0.2rem;
    padding-left: 0rem;
    white-space: pre;
}

.actions {
    align-items: center;
    display: flex;
    background-color: #F7F7F7;
    border-bottom: 1px solid #dedfe0;
    padding: 0 1.6rem;  
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    font-size: 125%;
}

.recipeItem {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.typeLabel {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    /* margin: 0.3rem; */
    margin-left: 1rem;

}

#wrapper {
    padding: 0 1.6rem;
    padding-top: 0.5rem;
}

#main-label {
    font-size: 135%;
}

#recipeList {
    padding: 0.4rem;
}

.actions__container--spaced {
    justify-content: space-between
}

#create-recipe {
    font-weight: bold;
}

a {
    color: rgb(238, 55, 86);
    text-decoration: none;
}s

#log-out {
    font-weight: bold;
}