* {
    font-family: 'Georgia';
}
#container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

#body {
    display: grid;
    grid-template-areas: 
    "a a a"
    "b b b"
    "c c c";

    grid-auto-rows: auto;
    grid-gap: 30px;
}

#i {
    grid-row-start: "c";
    grid-column: 1;
}

#d {
    grid-row: 2;
    grid-column: 1;
}

#sublabel {
    align-items: center;
    display: flex;
    background-color: #F7F7F7;
    border-bottom: 1px solid #dedfe0;
    padding: 0rem;  
    padding-bottom: 0.4rem;
    padding-top: 0.2rem;
    font-size: 100%;
}

#big {
    display: grid;
    grid-row-gap: 1rem;
    font-size: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container {
    padding: 0 1.6rem;
    padding-top: 0.4rem;
}


label {
    font-weight: bold;
}

#label {
    background: lightskyblue;
    padding: 1.2rem 1.6rem;
}

#title {
    font-size: 2.5rem;
    margin-bottom: .4rem;
}
.btn-lg {
    width: 175px;
}
label {
    font-weight: 600;
}
.btn-lg:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}